button.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 71px;
  width: 100%;

  border: 0;
  background: var(--background2);
  padding: 1rem;

  color: var(--white);

  &:hover {
    background: var(--background-button-bar); 
    border-left: 2px solid var(--background-button)
  }

  transition: background 400ms;

  & + button {
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 10px;
  }

  &.selected {
    background: var(--gray);
    color: var(--yellow);
  }
}