button {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 14rem;
  width: 100%;

  border: 0;
  background: var(--background-button);
  padding: 1rem;
  border-radius: 0.1rem;

  font-size: 1.125rem;
  color: #FFF;

  text-decoration: none !important;
  
  &:hover {
    background: var(--background-button2);
  }
  transition: background 200ms;

  & + button {
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }
}