:root {
  --background: #f1f1f1;
  --background2: #000;
  --background-button: #DC1637;
  --background-button2: #F2173C;
  --background-button-bar :rgb(24, 24, 24);
  --background-input: rgba(235, 235, 240, 1);
  --backgroud-card: #fff;
  --gray: #BEC2C6;
  --gray-title: rgba(71, 71, 77, 1);
  --white: #FBFBFB;
  --text: #fff
  --text-input: #000;
  --text-infor: #AEAEB3;
 
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Archivo", Arial, sans-serif;
  color: var(--text);
  margin: 0 auto;
}

input, textarea {
  font-family: "Archivo";
}

button {
  cursor: pointer;
}