:root {
  --background: #E5E5E5;
  --background2: #000;
  --background-button: #DC1637;
  --background-button2: #F2173C;
  --gray: #BEC2C6;
  --white: #FBFBFB;
  --text: #ffff
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Archivo", Arial, sans-serif;
  color: var(--text);
  background: var(--background);
  margin: 0 auto;
}

input, textarea {
  font-family: "Archivo";
}

button {
  cursor: pointer;
}