.pageMap {
  flex: 1;
  height: 600px;
  margin-left: 15%;
  margin-right: 10%;
  border: solid 1px #ddd;
  overflow: hidden;
  
}
.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}