.pageMap {
  flex: 1;
  height: 600px;
  margin-left: 15%;
  margin-right: 10%;
  border: solid 1px #ddd;
  overflow: hidden;

  .popup-container {
    height: 40px;

    Popup{
      height: 50px;
    }

    img {
      height: 30px;
    }
  }
  
}
