div.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  max-width: 100%;
  padding: 1rem;

  max-height: 100vh;
  height: 100%; 
  background: var(--background2);

  min-height: 100%;
}